<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csci498.tonnguye.lunchlist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />
    <supports-screens android:normalScreens="true" android:smallScreens="false" android:largeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@drawable/my_icon"
        android:label="@string/app_name" >
        <activity
            android:name="LunchList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="DetailForm"></activity>
        <activity android:name="EditPreferences"></activity>
        <activity android:name="FeedActivity"></activity>
        <service android:name="FeedService"></service>
        <uses-library android:name="com.google.android.maps" android:required="true"/>
        <activity android:name="RestaurantMap"></activity>
        <receiver android:name="OnBootReceiver" android:enabled="false"></receiver>
        <activity android:name="AlarmActivity"></activity>
        <receiver android:name="OnAlarmRecevier"></receiver>
        <receiver android:name="AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider"
            />
        </receiver>
        <service android:name="WidgetService"></service>
        <service android:name="ListWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"></service>
    </application>

</manifest>